<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form class="example-form" #form>
        <mat-form-field class="example-full-width">
          <label for="week1">Week 1# income</label>
          <input matInput type="number" id="week1" name="week1" [(ngModel)]="week1" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <label for="week2">Week 2# income</label>
          <input matInput type="number" id="week2" name="week2" [(ngModel)]="week2" required>
        </mat-form-field>
        <button [disabled]="!form.checkValidity()" mat-raised-button type="button" color="primary" (click)="onCalc()">
        <mat-icon>add</mat-icon>
        Calculate
        </button>
        <hr>
        <div *ngIf="taxCalculated">
          <h3>Gross Pay</h3>
          <button mat-stroked-button color="primary" type="button">{{grossPay}}</button>
          <h3>PayE</h3>
          <button mat-stroked-button color="basic" type="button">{{paye}}</button>
          <h3>PRSI</h3>
          <button mat-stroked-button color="basic" type="button">{{prsi}}</button>
          <h3>USC</h3>
          <button mat-stroked-button color="basic" type="button">{{usc}}</button>
          <h3>All Tax</h3>
          <button mat-stroked-button color="warn" type="button">{{taxSum}}</button>
          <h3>Nett Pay</h3>
          <button mat-stroked-button color="primary" type="button">{{nettPay}}</button>
      </div>

      </form>
      <!--<form>-->
        <!--<div class="form-group">-->
          <!--<label for="week1">Week 1# income {{week1}}</label>-->
          <!--<input class="form-control" type="number" id="week1" name="week1" [(ngModel)]="week1" required>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="week2">Week 2# income {{week2}}</label>-->
          <!--<input class="form-control" type="number" id="week2" name="week2" [(ngModel)]="week2" required>-->
        <!--</div>-->
        <!--<button mat-raised-button type="button" (click)="onCalc()">-->
          <!--<mat-icon>add</mat-icon>-->
          <!--Calculate-->
        <!--</button>-->
        <!--<hr>-->
        <!--<div class="form-group" *ngIf="taxCalculated">-->
          <!--<button type="button" class="btn btn-success" disabled>Gross Pay<span class="badge">{{ grossPay }}</span></button>-->
        <!--</div>-->
        <!--<div class="form-group" *ngIf="taxCalculated">-->
          <!--<button type="button" class="btn btn-primary">PAYE <span class="badge">{{ paye }}</span></button>-->
        <!--</div>-->
        <!--<div class="form-group" *ngIf="taxCalculated">-->
          <!--<button type="button" class="btn btn-primary">PRSI <span class="badge">{{ prsi }}</span></button>-->
        <!--</div>-->
        <!--<div class="form-group" *ngIf="taxCalculated">-->
          <!--<button type="button" class="btn btn-primary">USC <span class="badge">{{ usc }}</span></button>-->
        <!--</div>-->
        <!--<div class="form-group" *ngIf="taxCalculated">-->
          <!--<button type="button" class="btn btn-warning">All Tax <span class="badge">{{ taxSum }}</span></button>-->
        <!--</div>-->
        <!--<div class="form-group" *ngIf="taxCalculated">-->
          <!--<button type="button" class="btn btn-success">Netto Pay <span class="badge">{{ nettPay }}</span></button>-->
        <!--</div>-->
      <!--</form>-->
    </div>
  </div>
</div>

